@charset "UTF-8";
/*variables*/
.usuario, .bodyusuario {
  background-color: rgb(255, 255, 255);
}

.index #mainindex .textoindex, .index #mainindex .flexindex, .index #mainindex, .logoderedes a, #indexfooter #redessocialestexto {
  text-align: center;
}

#mainblog {
  background: rgb(17, 231, 221);
  background: linear-gradient(45deg, rgb(17, 231, 221) 19%, rgb(47, 221, 162) 60%, rgb(4, 173, 236) 100%);
}

/*generales*/
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "roboto";
  src: url(../roboto/Roboto-Regular.ttf);
}
body {
  font-family: "roboto";
}

/* HEADER de index general*/
.hero {
  background-color: white;
  color: #000000;
  width: 100%;
  height: 200px;
  font-family: "roboto";
  border-bottom: 2px solid;
}

.hero {
  color: fff;
}

/* MENU DE NAVEGACION index general */
.nav {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
}

.nav {
  --state-close: scale(0);
  --state-hamburguer: scale(1);
  --state-menu: translate(-100%);
  padding: 40px 0;
  display: grid;
  justify-content: space-between;
  text-align: left;
  grid-template-columns: repeat(2, max-content);
}

.nav:target {
  --state-menu: translate(0);
  --state-close: scale(1);
  --state-hamburguer: scale(0);
}

/* TITULO general*/
.nav__logo {
  font-size: 2.5rem;
  z-index: 2;
  width: 140px;
  height: 140px;
  z-index: 10;
}

/* MENU HAMBURGUESA general */
.nav__hamburguer,
.nav__close {
  z-index: 7;
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  transition: 0.01s transform;
}

.nav__hamburguer {
  z-index: 3;
  transform: var(--state-hamburguer);
}

.nav__close {
  z-index: 10;
  transform: var(--state-close);
}

.nav__icon {
  width: 40px;
}

/* LISTA general */
.nav__links {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  display: grid;
  align-content: center;
  gap: 2em;
  padding-left: 5%;
  transform: var(--state-menu);
  transition: 0.3s transform;
  z-index: 2;
  margin-bottom: 0;
}

.nav__item {
  list-style: none;
}

.nav__link {
  color: #000000;
  font-family: "roboto";
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom: 0;
}

/* MEDIAQUERIS MENU HAMBURGUESA */
@media (min-width: 768px) {
  .ocultar {
    display: none;
    gap: 1.5em;
    letter-spacing: 2px;
  }
  .nav {
    --state-hamburguer: scale(0);
    --state-menu: translate(0);
  }
  .nav:target {
    --state-close: scale(0);
  }
  .nav__links {
    padding: 0;
    background-color: unset;
    position: unset;
    gap: 1.5em;
    grid-auto-flow: column;
    font-family: "roboto";
    transform: unset;
    grid-column: -2/-1;
    grid-row: 1/2;
  }
  .nav__link {
    font-size: 1rem;
    letter-spacing: none;
  }
}
/* MEDIAQUERIS MENU HAMBURGUESA */
@media (min-width: 768px) {
  .ocultar {
    display: none;
    gap: 1.5em;
    letter-spacing: 2px;
  }
  .nav {
    --state-hamburguer: scale(0);
    --state-menu: translate(0);
  }
  .nav:target {
    --state-close: scale(0);
  }
  .nav__links {
    padding: 0;
    background-color: unset;
    position: unset;
    gap: 1.5em;
    grid-auto-flow: column;
    font-family: "roboto";
    transform: unset;
    grid-column: -2/-1;
    grid-row: 1/2;
  }
  .nav__link {
    font-size: 1rem;
    letter-spacing: none;
  }
}
/* MEDIAQUERIS MENU HAMBURGUESA */
@media (min-width: 768px) {
  .ocultar {
    display: none;
    gap: 1.5em;
    letter-spacing: 2px;
  }
  .nav {
    --state-hamburguer: scale(0);
    --state-menu: translate(0);
  }
  .nav:target {
    --state-close: scale(0);
  }
  .nav__links {
    padding: 0;
    background-color: unset;
    position: unset;
    gap: 1.5em;
    grid-auto-flow: column;
    font-family: "roboto";
    transform: unset;
    grid-column: -2/-1;
    grid-row: 1/2;
  }
  .nav__link {
    font-size: 1rem;
    letter-spacing: none;
  }
}
/* imagenes generales */
/* FOOTER GENERAL */
#indexfooter {
  background-color: #151623;
  padding: 10px;
  display: grid;
}
#indexfooter .indexderechos {
  flex-direction: row;
  justify-content: center;
  color: #babdc5;
}
#indexfooter #redessocialestexto {
  color: #babdc5;
}
#indexfooter .logoderedes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-left: 5px;
}
#indexfooter #indexderechos {
  display: grid;
  justify-content: center;
  color: #babdc5;
}

footer img {
  width: 40px;
  display: flex;
  flex-direction: column-reverse;
}

.logoderedes a {
  margin-left: 1%;
  justify-content: center;
}

/* variableeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */
h1, h3 {
  text-align: center;
}

/*img de ventas*/
.imgventas {
  width: 250px;
  height: 250px;
  justify-content: center;
}

/*index*/
/* BODY */
.index {
  /* contenido principal de index */
}
.index #mainindex {
  background-color: #f5f5f5;
  font-family: "roboto";
  /* TITULO DEL BODY */
}
.index #mainindex #vacciones {
  background-color: #f5f5f5;
  margin-bottom: 0px;
}
.index #mainindex .pruebaindex {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index #mainindex .pruebaindex .banerindex {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  object-fit: cover;
}
.index #mainindex .indexsection {
  background-position: right;
  background-size: cover;
  width: 100%;
  height: 75vh;
}
.index #mainindex h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index #mainindex .flexindex {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.index #mainindex #ofertass {
  margin-top: 10px;
  margin-bottom: 10px;
}
.index #mainindex .offcanvas {
  background-color: bisque;
}
.index #mainindex .btn {
  background-color: #4300d2;
  color: white;
}

.mujer {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(68, 68, 68, 0.2);
  border: solid 0.7px #ccc;
  background-color: #fff;
}

.linkmujer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  color: #181818;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(68, 68, 68, 0.2);
  border: solid 0.7px #ccc;
  background-color: #fff;
}

.mujer img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  height: 315px;
}

.linktexto {
  color: white;
  text-decoration: none;
}

.section2index {
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: #f5f5f5;
  gap: 80px;
}

.divpadre {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.titulodecajasindex {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  text-align: start;
  width: 100%;
  height: 350px;
  font-size: 35px;
  border-radius: 20px;
}
.titulodecajasindex .textodivpadre {
  text-align: start;
  margin-left: 10px;
}

.cajasindex2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.divpadre2 {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

.divprueba1,
.divprueba2,
.divprueba3 {
  background-color: white;
  border-radius: 8px;
  height: 154px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid #ccc;
}

.botonvermas {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 145px;
  width: 100%;
}

.cajapadre2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 50%;
  width: 100%;
}
.cajapadre2 .mujerpensando {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  border-radius: 10px;
}

.cajapadre3 {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.imgbonificaciones {
  margin-left: 20px;
  width: 50px;
}

.textobonificaiones {
  margin-left: 20px;
}

.indexvermas {
  background-color: #4300d2;
  border: none;
  border-radius: 24px;
  padding: 0 20px;
  height: 48px;
  color: white;
}

.indexvermas:hover {
  background-color: blueviolet;
  box-shadow: #181818;
  cursor: pointer;
}

/*usuario*/
/* pages usuario */
.bodyusuario .usuario {
  background-color: rgb(225, 225, 225);
}
.bodyusuario .image-container {
  min-height: 100%;
  display: flex;
  align-items: center;
}
.bodyusuario .img-fluid {
  min-height: -webkit-fill-available;
}

.btn {
  background-color: rgb(65, 165, 247);
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: blueviolet;
}

.usuarioform {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*quienes somos*/
/*page ayuda*/
.quienessomosdiv {
  height: 25vh;
  background-color: rgb(183, 201, 201);
  background-image: linear-gradient(to right, #2c2da5 12%, #5759d1 75%);
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.quienessomosdiv .h1ayuda {
  color: white;
}
.quienessomosdiv .barradebusqueda {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.quienessomosdiv .barradebusqueda .inputayuda {
  border: solid 1px;
  color: gray;
  border-radius: 10px;
  height: 30px;
}

.sectionquienes {
  background-color: rgb(195, 195, 223);
  height: 350px;
}

.subtitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  margin-top: 10px;
}

.iconos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 300px;
}

.cajasiconos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 25%;
  height: 200px;
  margin: 10px;
  border: 1px solid var(--color-neutral-300);
  border-radius: 8px;
  gap: 10px;
  border: 1px solid gray;
}
.cajasiconos .textcenter {
  text-align: center;
}

.subtitulo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quienessomosayuda {
  gap: 20px;
}

.sectionquienes2 {
  background-color: rgb(195, 195, 223);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.textoseparacion {
  margin-left: 25px;
}

.subcategorias1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4%;
}

.masbusquedas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 48%;
  height: 80px;
  border: 1px solid var(--color-neutral-300);
  border-radius: 2%;
  border: 1px solid gray;
  border-radius: 20px;
}

.correo {
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.correo .correoflex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.correo .correoflex .inputayuda2 {
  border: solid 1px;
  color: gray;
  border-radius: 10px;
  height: 40px;
}
.correo .correoflex .imgcorreo {
  height: 85px;
}

.divflexayuda {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*ventas*/
/*#item-0 {

  grid-row-start: 1;
  grid-column-start: 1;
  display: grid;
  align-content: center;
  gap: 20px;
  grid-row-end: 2;
  grid-column-end: 2;
  align-items: center;
  justify-content: center;
  @extend %texto;
}


#item-1 {
  display: flex;
  align-items: center;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;

}

#item-2 {

  grid-row-start: 2;
  grid-column-start: 1;
  display: grid;
  align-content: center;
  gap: 20px;
  grid-row-end: 3;
  grid-column-end: 2;
  @extend %texto;

}

#item-3 {


  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;

}

#item-4 {

  display: grid;
  align-content: center;
  gap: 20px;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
  @extend %texto;



}

#item-5 {


  grid-row-start: 3;
  grid-column-start: 2;
  background-color: white;
  grid-row-end: 4;
  grid-column-end: 3;


}

.card {
  position: relative;
  width: 350px;
  height: 350px;

  z-index: 1;
  border-radius: 5%;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {

  width: 100%;
  height: 100%;

}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, .4);
  @extend %texto;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(70, 67, 240);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @extend %texto;
  box-shadow: 1px 1px 20px 10px rgb(255 184 184);
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.animacionventas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.textocenter {
  justify-content: center;
  align-items: center;

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #000000;
  width: 50px;
  height: 50px;
  border-radius: 80px;
}
*/
.mainventas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(239deg, rgb(255, 255, 255) 0%, rgb(248, 255, 213) 50%, rgb(255, 255, 255) 100%);
}
.mainventas .sectionventas {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.mainventas .sectionventas .artventas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.mainventas .sectionventas .artventas .mejoresofertas {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}
.mainventas .sectionventas .artventas .mejoresofertas .destino {
  width: 300px;
  height: 200px;
}
.mainventas .sectionventas .artventas .mejoresofertas .dias {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: solid 1px gray;
  text-align: center;
  height: 50px;
}
.mainventas .sectionventas .artventas .mejoresofertas .parrafoventas {
  margin-bottom: 0px;
}
.mainventas .sectionventas .artventas .mejoresofertas .comprar {
  border: white;
  background: rgb(201, 97, 244);
  background: linear-gradient(180deg, rgb(201, 97, 244) 38%, rgb(138, 29, 250) 69%);
}
.mainventas .sectionventas .artventas .mejoresofertas .comprar:hover {
  background: rgb(177, 41, 219);
  background: linear-gradient(4deg, rgb(177, 41, 219) 0%, rgb(109, 93, 127) 100%);
}
.mainventas .sectionventas .artventas .mejoresofertas #promocion1 {
  background: rgb(195, 34, 34);
  background: linear-gradient(0deg, rgb(195, 34, 34) 0%, rgb(253, 193, 45) 94%);
}
.mainventas .sectionventas .artventas .mejoresofertas #promocion1:hover {
  background: rgb(195, 34, 34);
  background: linear-gradient(4deg, rgb(195, 34, 34) 0%, rgb(253, 193, 45) 94%);
}
.mainventas .sectionventas .artventas .mejoresofertas .transporte {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 80px;
}
.mainventas .sectionventas .artventas .mejoresofertas .precio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-top: solid 1px gray;
  width: 100%;
  height: 100px;
}
.mainventas .sectionventas .artventas .mejoresofertas .puntos {
  width: 100%;
  border-top: solid 1px gray;
  text-align: center;
}
.mainventas .sectionventas .artventas .cajaventas {
  background-color: white;
}
.mainventas .sectionventas .artventas .cajaventas .textoinformacion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainventas .sectionventas .artventas .cajaventas .imgventas {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ofertastiempolimite {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(110, 0, 181);
  background: linear-gradient(90deg, rgb(110, 0, 181) 0%, rgb(209, 64, 73) 100%);
  border: solid 1px white;
  text-align: center;
}
.ofertastiempolimite .promocion2 {
  color: rgb(243, 243, 243);
  margin-right: 20px;
}

/*blog*/
/* pages blog */
/* contenido principal */
#mainblog {
  padding: 10px;
  /* aisde */
}
#mainblog .blog-fecha {
  color: #fff6f6;
  margin-bottom: 10px;
  text-align: start;
}
#mainblog .blog-titulo {
  font-size: 24px;
  margin-bottom: 10px;
}
#mainblog .blog-post {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border: 1px solid #e3e3e3;
}
#mainblog .reseñas {
  color: gray;
}
#mainblog .blog {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
}
#mainblog .aside {
  text-align: center;
  background-color: #fdfdfd;
  padding: 10px;
  border: 1px solid #e3e3e3;
}
#mainblog .aside h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/*medias queris*/
/*media queris index*/
@media (max-width: 768px) {
  .mainindex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .col-6 {
    width: 100%;
  }
  #vacciones {
    text-align: center;
  }
  .flexindex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .divpadre {
    width: 100%;
  }
  .divpadre .botonvermas {
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .divpadre2 {
    display: none;
  }
}
@media (max-width: 768px) {
  .mujer img {
    max-width: 100%;
  }
}
/* mediaqueris de page ayuda */
@media (max-width: 768px) {
  .subtitulo2 {
    display: none;
  }
  .iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
  }
  .cajasiconos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 0px;
    margin: 0px;
    height: 200px;
  }
  .sectionquienes2 {
    background-color: rgb(195, 195, 223);
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .subcategorias1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    flex-direction: column;
    width: 100%;
  }
  .sectionquienes {
    background-color: rgb(195, 195, 223);
    height: auto;
  }
  .masbusquedas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 80px;
    border: 1px solid var(--color-neutral-300);
    border-radius: 2%;
    border: 1px solid gray;
    flex-direction: row;
  }
  .imgbonificaciones {
    margin-left: 0px;
    width: 50px;
  }
  .textoseparacion {
    margin-left: 10px;
  }
  .textcenter {
    margin-left: 10px;
    text-align: center;
  }
}
/* media queris del page ventas */
@media (max-width: 768px) {
  .mainventas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
  }
  #ventasbody {
    background-color: white;
  }
  .card .front img {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: unset;
  }
}
/*media queris usuario*/
@media (max-width: 768px) {
  .bodyusuario,
  .usuario {
    background-color: white;
  }
  .img-fluid {
    display: none;
  }
}

/*# sourceMappingURL=scss.css.map */
