 /* pages blog */
  
  /* contenido principal */
  #mainblog {
    background: rgb(231,77,17);
    background: linear-gradient(45deg, rgba(231,77,17,1) 19%, rgba(243,24,24,1) 60%, rgba(255,252,30,1) 100%);

    padding: 10px;
    background: rgb(17,231,221);
    background: linear-gradient(45deg, rgba(17,231,221,1) 19%, rgba(47,221,162,1) 60%, rgba(4,173,236,1) 100%);
  }
  
  .blog-post {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #76dcb5;
    border: 1px solid #e3e3e3;
  }
  
  .blog-titulo {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .blog {
    text-align: center;
    background-color: #76dcb5;
    border: 1px solid #e3e3e3;
  }
  
  .blog-fecha {
    color: #fff6f6;
    margin-bottom: 10px;
    text-align: start;
  }
  /* aisde */
  .aside {
    text-align: center;
    background-color: #76dcb5;
    padding: 10px;
    border: 1px solid #e3e3e3;
  }
  
  .aside h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }