 /* pages blog */

 /* contenido principal */
 #mainblog {

   padding: 10px;
   @extend %color;

.infodeblog{
 
  background-color: rgb(219, 219, 219);
  @include flex(flex , center, space-around);

}
.nav_item2 {
  margin-bottom: 5px;
  list-style: none;
  .minititulo{
    text-decoration: none;
    color: black;
  }
  .minimenu{
    text-decoration: none;
    color: gray;
   

  }
  .minimenu:hover{
      color: white ;
    }

}
 }