%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%texto{
    text-align: center;
}

%color{
    background: rgb(17,231,221);
background: linear-gradient(45deg, rgba(17,231,221,1) 19%, rgba(47,221,162,1) 60%, rgba(4,173,236,1) 100%);

}

