 /* CONTENIDO PRINCIPAL INDEX */
  /* BODY */
  #mainindex {
    background: rgb(17,231,221);
    background: linear-gradient(45deg, rgba(17,231,221,1) 19%, rgba(47,221,162,1) 60%, rgba(4,173,236,1) 100%);
    font-family: "roboto";
    text-align: center;
  }
  
  /* TITULO DEL BODY */
  h2 {
    display: flex;
    justify-content: center;
  }
  /* contenido principal de index */
  .flexindex {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .textoindex {
    justify-content: center;
    text-align: center;
  }
  
  .btn {
    background-color: #76dcb5;
  }
  .offcanvas {
    background-color: bisque;
  }
  #ofertass{
    margin-top: 10px;
    margin-bottom: 10px;
  }
