
 /* BODY */
  .index
  { 
    /* contenido principal de index */
    #mainindex{
   @extend %color;
    font-family: "roboto";
    @extend %texto;
      /* TITULO DEL BODY */

      h2 
      {
    display: flex;
    justify-content: center;
  }
      .flexindex {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @extend %texto;
  }
  .textoindex {
    justify-content: center;
    @extend %texto;
  }
  #ofertass{
    margin-top: 10px;
    margin-bottom: 10px;
  }

    .offcanvas {
    background-color: bisque;
  }
  
  .btn {
    background-color: #76dcb5;
  }

}
  }
  