$fondo : (
    fondo-gris :  rgb(195, 195, 223),
    fondo-cajas: #ffffff,
    fondo-boton: #4300d2,
    fondo-blanco: white,
    fondo-index: #f5f5f5,
    fondo-usuario:rgb(65, 165, 247),
    





)
