



/*media queris index*/

@media (max-width: 768px) {
    .mainindex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;
      height: auto;
    }
    #vacciones {
      justify-content: center;
      text-align: center;
    }
    .flexindex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }


    /* mediaqueris de page quienes somos */
  
    @media (max-width: 768px) {
        .gridquines {
          display: flex;
          flex-direction: column;
          text-align: center;
        }
      
        .quienessomosgrid {
          display: flex;
          flex-direction: column;
          justify-content: center;
          @extend %texto;
          background: rgb(231,77,17);
          background: linear-gradient(45deg, rgba(231,77,17,1) 19%, rgba(243,24,24,1) 60%, rgba(255,252,30,1) 100%);
        }
       
        .mapa {
          display: flex;
          justify-items: center;
          width: auto;
          height: auto;
        }
      }


        /* media queris del page ventas */
  @media (max-width: 768px) {
    .mainventas {
      display: flex;
      flex-direction: column;

      gap: 10px;
      height: auto;
    }
    #ventasbody {
      background-color: white;
    }
    .card .front img {
      position:fixed;

      width: 100%;
      height: 100%;
      text-align: unset;
  }
  }

    /*media queris usuario*/
    @media (max-width: 768px) {
        .bodyusuario,
        .usuario {
          background-color: white;
        }
        .img-fluid {
          display: none;
        }
      }