/*media queris index*/

@media (max-width: 768px) {
  .mainindex {
    @include flex(flex, center, center);
    @include flexdi(column);

    width: auto;
    height: auto;
  }

  .col-6 {
    width: 100%;
  }

  #vacciones {
    @include texto(center);
  }

  .flexindex {
    @include flex(flex, center, center);
    @include flexdi(column);
    @include texto(center);
  }

  .divpadre {
    width: 100%;

    .botonvermas {
      margin-left: 0px;
      @include flex(flex, center, center);

    }
  }

  .divpadre2 {
    display: none;
  }
}

@media (max-width: 768px) {
  .mujer img {
    max-width: 100%;
  }
}


/* mediaqueris de page ayuda */

@media (max-width: 768px) {
  .subtitulo2 {
    display: none
  }

  .iconos {
    @include flex(flex, center, center);
    @include flexdi(column);
    width: 100%;
    height: 400px;


  }

  .cajasiconos {
    @include flex(flex, center, center);
    @include flexdi(row);
    width: 100%;
    gap: 0px;
    margin: 0px;
    height: 200px;
  }



  .sectionquienes2 {
    background-color: map-get($fondo , fondo-gris);
    display: flex;
    @include flexdi(column);
    gap: 0px;
  }


  .subcategorias1 {
    @include flex(flex, center, center);
    gap: 4%;
    @include flexdi(column);
    width: 100%;
  }

  .sectionquienes {
    background-color: map-get($fondo , fondo-gris);
    height: auto;

  }


  .masbusquedas {
    @include flex(flex, center, space-between);
    background-color: map-get($fondo , fondo-blanco);
    width: 100%;
    height: 80px;
    border: 1px solid var(--color-neutral-300);
    border-radius: 2%;

    border: 1px solid gray;
    @include flexdi(row);


  }

  .imgbonificaciones {
    margin-left: 0px;
    width: 50px;
  }

  .textoseparacion {
    margin-left: 10px;
  }

  .textcenter {
    margin-left: 10px;
    @include texto(center);
  }
}

/*media queris de blog*/
@media (max-width: 768px) {
  .ingresatucorreo {
    @include flex(flex, center, center);
    gap: 1px;
    flex-direction: column;
  }

}


/* media queris del page ventas */
@media (max-width: 768px) {
  .mainventas {
    display: flex;
    @include flexdi(column);

    gap: 10px;
    height: auto;
  }

  #ventasbody {
    background-color: map-get($fondo , fondo-blanco);
  }

  .card .front img {
    position: fixed;

    width: 100%;
    height: 100%;
    @include texto(unset);
  }
}

/*media queris usuario*/
@media (max-width: 768px) {

  .bodyusuario,
  .usuario {
    background-color: map-get($fondo , fondo-blanco);
  }

  .img-fluid {
    display: none;
  }
}