@mixin flex($display, $ejeY, $ejeX) {
    display: $display;
    align-items: $ejeY;
    justify-content: $ejeX;
}

@mixin texto($vertical) {
    text-align: $vertical;
}

@mixin flexdi($flex-direcion, ) {
    flex-direction: $flex-direcion;
}

@mixin flew($flex-warp) {
    flex-wrap: $flex-warp;
}