/* page quines somos */
  
  /* main */
  .quienessomosgrid {
    display: grid;
    background: rgb(17,231,221);
    background: linear-gradient(45deg, rgba(17,231,221,1) 19%, rgba(47,221,162,1) 60%, rgba(4,173,236,1) 100%);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    @extend %texto;
   .estamos_para_ayudarte {

    grid-row-start: 1;
    grid-column-start: 1;
    background: rgb(58,180,178);
    background: linear-gradient(90deg, rgba(58,180,178,1) 100%, rgba(29,175,253,1) 100%);
    grid-row-end: 4;
    grid-column-end: 3;
    justify-content: center;
    display: flex;
    flex-direction: column;
    @extend %texto;
  }#mapa {
    display: grid;
    justify-items: center;
   .mapa {
    display: grid;
    justify-content: center;
    object-fit: cover;
    grid-column: 2/-1;
    width: auto;
    height: auto;
    border: 1px solid #f1c40f;
    border: 1px solid #f1c40f;
    justify-items: center;
  }
}
   /* section 2 */
  .errores {
    background: rgb(58,180,178);
    background: linear-gradient(90deg, rgba(58,180,178,1) 0%, rgba(29,175,253,1) 30%, rgba(252,69,69,1) 100%);
    grid-row-start: 1;
    grid-column-start: 3;
  
    grid-row-end: 4;
    grid-column-end: 5;
  }
  }
 /* aside */
  .asidequienes {
    color: #000;
    font-size: 25px;
    background: rgb(58,180,178);
    background: linear-gradient(90deg, rgba(58,180,178,1) 0%, rgba(29,175,253,1) 30%, rgba(252,69,69,1) 100%);
    grid-row-start: 4;
    grid-column-start: 1;
  
    grid-row-end: 5;
    grid-column-end: 5;
    text-align: center;
  }

  
  
  
  
 
  
