  /* pages usuario */
  .bodyusuario {

    .usuario {
      background-color: rgb(225 225 225);

    }

    .image-container {
      min-height: 100%;
      display: flex;
      align-items: center;
    }

    .img-fluid {
      min-height: -webkit-fill-available;

    }
  }

  .btn {
    background-color: rgb(65, 165, 247);
    transition: background-color 0.3s, color 0.3s;

  }
.btn:hover{
  background-color: blueviolet;

}
 


  .usuarioform {
    display: flex;
    justify-content: center;
    @include flexdi(column);
  }