  /* pages usuario */
  .bodyusuario {
    background-color: rgb(0, 0, 0);
  .usuario {
    background-color: rgb(0, 0, 0);
  }
  .image-container {
    min-height: 100%;
    display: flex;
    align-items: center;
  }
}
  
  