
.mainventas {
  display: grid; 
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background: rgb(58,180,178);
  background: linear-gradient(90deg, rgba(58,180,178,1) 0%, rgba(29,175,253,1) 50%, rgba(69,252,233,1) 100%);
  height: 100%;
 
  #item-0 {
  background: rgb(58,180,178);
  background: linear-gradient(90deg, rgba(58,180,178,1) 100%, rgba(29,175,253,1) 100%);
  grid-row-start: 1;
  grid-column-start: 1;
  display: grid;
  align-content: center;
  gap: 20px;
  grid-row-end: 2;
  grid-column-end: 2;
  align-items: center;
  justify-content: center;
  @extend %texto;
}
 

#item-1 {

  grid-row-start: 1;
  grid-column-start: 2;
  background: rgb(58,180,178);
  background: linear-gradient(90deg, rgba(58,180,178,1) 0%, rgba(29,175,253,1) 30%, rgba(252,69,69,1) 100%);
  grid-row-end: 2;
  grid-column-end: 3;
  
}
#item-2 {

  grid-row-start: 2;
  grid-column-start: 1;
  display: grid;
  align-content: center;
  gap: 20px;
  grid-row-end: 3;
  grid-column-end: 2;
  @extend %texto;

}
#item-3 {


  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  
}
#item-4 {

  display: grid;
  align-content: center;
  gap: 20px;
  grid-row-start: 3;
  grid-column-start: 1;
  background: rgb(58,180,178);
  background: linear-gradient(90deg, rgba(58,180,178,1) 100%, rgba(29,175,253,1) 100%);
  grid-row-end: 4;
  grid-column-end: 2;
  @extend %texto;


  
}
#item-5 {


  grid-row-start: 3;
  grid-column-start: 2;
  background: rgb(58,180,178);
  background: linear-gradient(90deg, rgba(58,180,178,1) 100%, rgba(29,175,253,1) 100%);
  grid-row-end: 4;
  grid-column-end: 3;
  
  
} 

.card {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 20px;
    z-index: 1;
    border-radius: 5%;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {

    width: 100%;
    height: 100%;

}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    @extend %texto;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(70, 67, 240);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @extend %texto;
    box-shadow: 1px 1px 20px 10px rgb(255 184 184);
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
.animacionventas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.textocenter{
  justify-content: center;
  align-items: center;

}
}



