/*#item-0 {

  grid-row-start: 1;
  grid-column-start: 1;
  display: grid;
  align-content: center;
  gap: 20px;
  grid-row-end: 2;
  grid-column-end: 2;
  align-items: center;
  justify-content: center;
  @extend %texto;
}


#item-1 {
  display: flex;
  align-items: center;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;

}

#item-2 {

  grid-row-start: 2;
  grid-column-start: 1;
  display: grid;
  align-content: center;
  gap: 20px;
  grid-row-end: 3;
  grid-column-end: 2;
  @extend %texto;

}

#item-3 {


  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;

}

#item-4 {

  display: grid;
  align-content: center;
  gap: 20px;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
  @extend %texto;



}

#item-5 {


  grid-row-start: 3;
  grid-column-start: 2;
  background-color: white;
  grid-row-end: 4;
  grid-column-end: 3;


}

.card {
  position: relative;
  width: 350px;
  height: 350px;
  
  z-index: 1;
  border-radius: 5%;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {

  width: 100%;
  height: 100%;

}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, .4);
  @extend %texto;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(70, 67, 240);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @extend %texto;
  box-shadow: 1px 1px 20px 10px rgb(255 184 184);
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.animacionventas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.textocenter {
  justify-content: center;
  align-items: center;

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #000000;
  width: 50px;
  height: 50px;
  border-radius: 80px;
}
*/
.mainventas {
  @include flex(flex,center,center);
  @include flexdi(column);
  row-gap: 10px;
  background: rgb(255,255,255);
  background: linear-gradient(239deg, rgba(255,255,255,1) 0%, rgba(248,255,213,1) 50%, rgba(255,255,255,1) 100%);
  .sectionventas {
    display: flex;
    @include flexdi(column);
    margin-bottom: 15px;

    .artventas {
      @include flex(flex,center,center);
      @include flexdi(row);
      flex-wrap: wrap;
      gap: 10px;
      .mejoresofertas{
        @include flex(flex,stretch,center);
        @include flexdi(column);
        .destino{
          width: 300px;
          height: 200px;
        }
        .dias{
          @include flex(flex, center,center);
          width: 100%;
          border-top: solid 1px gray;
          @include texto(center);
          height: 50px;
        }
        .parrafoventas{
      margin-bottom: 0px;
    }
    .comprar{
      border: white;
      background: rgb(201,97,244);
      background: linear-gradient(180deg, rgba(201,97,244,1) 38%, rgba(138,29,250,1) 69%);}
    .comprar:hover{
      background: rgb(177,41,219);
      background: linear-gradient(4deg, rgba(177,41,219,1) 0%, rgba(109,93,127,1) 100%);    } 
    #promocion1{
      background: rgb(195,34,34);
      background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(253,193,45,1) 94%);
    }
    #promocion1:hover{
      background: rgb(195,34,34);
      background: linear-gradient(4deg, rgba(195,34,34,1) 0%, rgba(253,193,45,1) 94%);
    }
    .transporte{
      @include flex(flex,center,center);
      @include flexdi(row);
      @include texto(center);
      width: 100%;
      height: 80px;
    
    }
    .precio{
      @include flex(flex,center,center);
      @include flexdi(column);
      @include texto(center);
      border-top: solid 1px  gray;
      width: 100%;
      height: 100px;
    }
    .puntos{
      width: 100%;
      border-top: solid 1px gray;
      @include texto(center);
    }
      }
      .cajaventas{
        background-color: white;

        .textoinformacion{
          @include flex(flex,center,center);
          @include flexdi(column);
          
  }
  .imgventas {
          height: 100%;
          width: 100%;
          object-fit: cover;
      }
      }
      
    }
  }
}
.ofertastiempolimite{
  width: 100%;
  @include flex(flex,center,center);
  background: rgb(110,0,181);
  background: linear-gradient(90deg, rgba(110,0,181,1) 0%, rgba(209,64,73,1) 100%);
  border: solid 1px white;
  @include texto(center);
  .promocion2{
    color:rgb(243, 243, 243);
    margin-right: 20px;
  }
}